<div id="container">
	<div id="header"></div>
	
	<div id="content">
	
		<div id="ojt-login">
			<fieldset>
				<legend>OJT</legend>
				<div id="logged-in">
					<span id='ojt'>Wilson</span>
					<input type="button" value="Logout"/>
				</div>
				<div id="logged-out">
					Name: <input type="text"><br>
					Password: <input type="text"><br>
					<input type="button" value="Login"/>
				</div>
			</fieldset>
		</div>
		
		<div id="visitor-login">
			<fieldset>
				<legend>Visitor Login</legend>
				ID Num: <input type="text"><br>
				Subject:<input type="text"><br>
				Adviser:<input type="text"><br>
				<input type="button" value="Login"/>
			</fieldset>
		</div>
		
		<div id="print">
			<fieldset>
				<legend>Print Log</legend>
				Pages: <input type="number"><br>
				<p id="total"> Total: PHP 0.00</p> 
				<input type="button" value="Add Record"/>
			</fieldset>
		</div>
		
		<div id="visitors">
		
		</div>
	
	
	</div>
	
</div>